<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div>
      <span>
          <h2>Training</h2>
          <label class="switch">
              <input id="chktrain" type="checkbox">
              <span class="slider round"></span>
          </label>
      </span>
      <span>
          <h2>ReadOnly</h2>
          <label class="switch">
              <input id="chkreadonly" type="checkbox">
              <span class="slider round"></span>
          </label>
      </span>
  </div>
      <br/>
    <button id="retrainBtn" type="button" class="btn btn-primary">Drop DB and retrain from Corpus</button>
    <img src="../static/img/cos.png" class="center"/>
    <h2 class="center-txt">COS524 Project</h2>

    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm COSBot.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
        <script>
            //checbox
            getState();

            function getState() {
                $.get("/state").done(function(data) {
                    var res = data.split('@');
                    var isTraining = res[0];
                    var isReadOnly = res[1];
                    $("#chktrain").prop('checked', isTraining === "True" ? true : false);
                    $("#chkreadonly").prop('checked', isReadOnly === "True" ? true : false);
                });
            }

          
            $("#chktrain").click(function () {
                if ($(this).is(':checked'))
                    $.get("train", { msg: "1" });
                else
                    $.get("train", { msg: "0" });
            });

            $("#chkreadonly").click(function () {
                if ($(this).is(':checked'))
                    $.get("readonly", { msg: "1" });
                else
                    $.get("readonly", { msg: "0" });
            });

            //retrain button
            $("#retrainBtn").click( function() {
                $.get("/retrain", { msg: "train" }).done(function (data) {
                    getState();
                    alert("Model Trained");
                });
            });
            $("#textInput").keypress(function(e) {
                if(e.which == 13) {
                    getBotResponse();
                }
            });
            $("#buttonInput").click(function () {
                getBotResponse();
            });

            function getBotResponse() {
                var rawText = $("#textInput").val();
                if (rawText === "")
                    return;
                var userHtml = '<p class="userText"><span>'+ rawText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                $.get("/get", { msg: rawText }).done(function(data) {
                    if(data !== '<Empty>')
                        $("#chatbox").append(checkForHtmlResponse(data));
                    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                });
            }

            function checkForHtmlResponse(data) {
                var start = '<p class="botText"><span>';
                var end = '</span></p>';
                return `${start}${data}${end}`;;
            }
        </script>
    </div>
  </body>
</html>